configuration {
    modi: "drun,run";
    show-icons: false;
    display-drun: "Applications";
    drun-display-format: "{name}";
    terminal: "kitty";
}

* {
    font: "Maple Mono 12";

    bg:         #FDFCFD;
    bg-alt:     #F8F6F8;

    fg:         #70748A;

    blue:       #99A0C0;
    lavender:   #D7C1FC;
    peach:      #F6D9C0;
    cyan:       #BDFCEF;
    pink:       #FA9096;

    border:     #99A0C0;

    background-color: transparent;
    text-color: @fg;
}

window {
    width: 500px;

    background-color: @bg;

    border: 2px;
    border-color: @border;

    border-radius: 0px;

    padding: 20px;
}

mainbox {
    spacing: 15px;
}

inputbar {
    background-color: @bg-alt;

    border: 0;

    border-radius: 14px;

    padding: 12px;
}

prompt {
    enabled: false;
}

entry {
    text-color: @fg;
    placeholder: "Search...";
    placeholder-color: #A0A3B2;
}

message {
    enabled: false;
}

listview {
    columns: 1;
    lines: 8;

    spacing: 8px;

    scrollbar: false;
}

element {
    padding: 10px;

    border-radius: 12px;

    background-color: transparent;
}

element-icon {
    size: 1.2em;
}

element-text {
    text-color: @fg;
    vertical-align: 0.5;
}

element selected {
    background-color: @lavender;
}

element selected element-text {
    text-color: #5A5E72;
}

element selected element-icon {
    text-color: #5A5E72;
}
